/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style: none;
}



h1 {
    margin: 0;
}
body {
    margin:0 ;
}

header ,footer {
    width:  100%;
    background-color: #c52f24;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.time {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

h1 {
    padding: 20px;
    color: white;
}

table {
    display: table;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    border: solid 1px black;
    padding: 10px 20px;
    text-align: center;
}

th {
    background-color: #ffdfdf;
}

td {
    background-color: #f1c8c861;
}

.cell {
  width: 100%;
  text-align: center;
}

.memo{
    height: 150px;
}